* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
}

.sidebar {
    width: 240px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #34495e;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.btn-blue {
    background-color: #3498db;
    color: white;
}

.btn-yellow {
    background-color: rgb(46, 204, 113);
    color: white;
}

.btn-red {
    background-color: #e74c3c;
    color: white;
}

.form-logout .logout-btn {
    margin-top: 200px;
    margin-left: 55px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-container input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
}

.search-container input:focus {
    border-color: #3498db;
    outline: none;
}

#searchTahun {
    max-width: 150px;
}